Options All -Indexes
RewriteEngine On
#RewriteBase /Marketplace/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteRule \.(gif|jpg|png)$ – [F]
#AddHandler img-gm .png .jpg .jpeg

#IndexIgnore *.gif *.zip *.txt
#order allow, deny deny from all
